<div class="py-5">
  <div class="container mx-auto flex justify-between items-center px-4">
    <div class="text-3xl font-bold">
        <a href="#" class="hover:text-gray-300 transition duration-300 ease-in-out">MiSitio</a>
    </div>
    <nav>
        <ul class="flex space-x-4">
            <li><a href="#" class="hover:text-gray-300 transition duration-300 ease-in-out">Inicio</a></li>
            <li><a href="#" class="hover:text-gray-300 transition duration-300 ease-in-out">Sobre Nosotros</a></li>
            <li><a href="#" class="hover:text-gray-300 transition duration-300 ease-in-out">Servicios</a></li>
            <li><a href="#" class="hover:text-gray-300 transition duration-300 ease-in-out">Contacto</a></li>
        </ul>
    </nav>
  </div>
</div>