<div class="mt-10 py-5 text-white">
  <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-between items-center">
          <div class="text-lg font-semibold">
              © 2024 MiSitio. Todos los derechos reservados.
          </div>
          <nav class="flex mt-4 lg:mt-0">
              <ul class="flex space-x-4">
                  <li><a href="#" class="hover:text-gray-400 transition duration-300 ease-in-out">Política de Privacidad</a></li>
                  <li><a href="#" class="hover:text-gray-400 transition duration-300 ease-in-out">Términos de Servicio</a></li>
                  <li><a href="#" class="hover:text-gray-400 transition duration-300 ease-in-out">Contáctanos</a></li>
              </ul>
          </nav>
      </div>
      <div class="text-center mt-4">
          Síguenos en:
          <a href="#" class="hover:text-gray-400 transition duration-300 ease-in-out">Facebook</a>,
          <a href="#" class="hover:text-gray-400 transition duration-300 ease-in-out">Twitter</a>,
          <a href="#" class="hover:text-gray-400 transition duration-300 ease-in-out">Instagram</a>
      </div>
  </div>
</div>